# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
.kotlin
local.properties
*.iml
*.hprof
.cxx/
app/debug.keystore
gradle/gradle-daemon-jvm.properties

# generated inline modules
app/src/main/java/inline/

# Bundle artifacts
*.jsbundle
